




/*hero*/

.A-hero{
    background-image: url('image/hero section/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 20vh;
    width: 100%;
    position: relative;
}

.A-heroText{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 1rem;
}

.A-heroText p{
    color: white;
}

@media (min-width :675px) {
    .A-hero{
        height: 40vh;
    }

    .A-heroText{
        font-size: 1.5rem;
        padding: 4rem;
        line-height: 1.5rem;
        
    }
}

/*hero end*/

/*about*/

.About{
    padding: 2rem 2rem;
    width: 100%;
    
}


.About-img{
    width: 100%;
    margin-bottom: 1rem;
}

.About-img img{
    width: 100%;
    border-radius: 10px;
}


@media (min-width :675px){
    .Aboutp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4rem;
    }

    .About-img{
        width: 50%;
       
    }

    .About-img img{
        width: 100%;
    }

    .About-text{
        width: 50%;
        padding: 1.5rem;
    }
}